<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id = "app">
        <label for="txt"></label>
        <input type="text" id = "txt" v-model="arr" @keyup.enter="addTask">
        <button @click="addTask">提交</button>
        <p>正在添加的任务：{{ arr }}</p>
        <ul>
            <li v-for="(item,index) in arrList">
                {{ item }}
                <button @click="deleteTask(index)">删除</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                arr:"",
                arrList:[]
            },
            methods:{
                addTask(){
                    this.arrList.push(this.arr)
                    this.arr = ""
                },
                deleteTask(index){
                    this.arrList.splice(index,1)
                }
            }
        })
    </script>
</body>
</html>